.btn-abrir-menu i {
    color: var(--cor-terciaria);
}

.btn-abrir-menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 40px; 
    z-index: 9999; 
    color: var(--cor-terciaria);
    font-size: 30px;
}
.menu-mobile{
    height: 100vh;
    position: fixed;
    background-color: var(--cor-primaria);
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;
}

.menu-mobile.abrir-menu{
    width: 60%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-fechar{
    padding: 20px 8%;
    display: block;
}

.menu-mobile .btn-fechar i{
    color: var(--cor-terciaria);
    font-size: 1.8rem;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: var(--cor-terciaria);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.overlay-menu{
    background-color: #000000bd;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}