:root {
    --cor-primaria: #000000;
    --cor-secundaria: #fff;
    --cor-terciaria: #ee82ee79;
    --cor-hover: #272727;

    --fonte-primaria: 'Bebas Neue', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: 'Poppins', sans-serif;
    --fonte-quartenaria: 'DM Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}


/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--cor-primaria);
}

.flex{
    display: flex;
    max-width: 1200px;
}

.titulo {
    margin-bottom: 40px;    
}

h2.titulo{
    color: #fff;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    font-family: var(--fonte-primaria);
    margin-top: 40px;
    animation: flipInX;
    animation-duration: 2s;

}

h2.titulo span{
    color: var(--cor-terciaria);
}


/*ESTILO CABEÇALHO*/
header .interface{
    width: 100%;
    border: 0 auto;
    padding: 40px 8%;
    position: fixed;
    background-color: #000000;
    z-index: 1000;
}

header .menu{
    display: flex;
    justify-content: space-around;
}

ul.menu__lista li{
    display: inline-block;
    margin: 0 20px;
}

nav.menu-desktop{
    text-align: center;
}

header .menu__lista__item__link{
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: .2s;
    animation: lightSpeedInLeft;
    animation-duration: 2s;
    font-size: 17px;
}

.menu .menu__lista{
    display: flex;
    list-style-type: none;
    gap: 4em;
}

header .menu__lista__item__link:hover{
    color: var(--cor-terciaria);
    transform: scale(1.05);
}

.menu .menu__lista .menu__lista__item{
    display: inline-block;
    padding: 0 40px;
    font-family: var(--fonte-primaria);
}

.btn-contatos button{
    color: var(--cor-terciaria);
    border: 0;
    border-radius: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 40px;
    background-color:#c4c4f8;
    cursor:pointer;
    transition: .2s;
    box-shadow: 0px 0px 5px var(--cor-terciaria);
    animation: flipInX;
    animation-duration: 2s;
    width: 200px;
}

.btn-contatos button:hover{
    color: var(--cor-primaria);
    transform: scale(1.05);
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 90px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    padding: 40px;  
    gap: 90px;
}

.topo-do-site h1{
    color: var(--cor-secundaria);
    font-weight: 900;
    font-size: 75px;
    animation: lightSpeedInLeft;
    animation-duration: 2s;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 2px;
    line-height: 50px;
}


.topo-do-site .txt-topo-site h1 span{
    color: var(--cor-terciaria);
    font-family: "Bebas Neue", sans-serif;
}

.topo-do-site .txt-topo-site p{
    color: var(--cor-secundaria);
    font-family: var(--fonte-quartenaria);
    font-size: 34px;
    margin: 40px 0;
    animation: lightSpeedInLeft;
    animation-duration: 2s;
    margin-top: 2px;
}

.btn-minhas-redes {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 8px;
}

.btn-minhas-redes button{
    color: var(--cor-secundaria);
    border: 0;
    border-radius: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 40px;
    background-color:var(--cor-terciaria);
    cursor:pointer;
    transition: .2s;
    box-shadow: 0px 0px 6px var(--cor-secundaria);
    animation: flipInX;
    animation-duration: 2s;
    width: 200px;
}

.btn-minhas-redes button:hover{
    color: var(--cor-primaria);
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.img-topo-site .img-topo-site-img{
    width: 400px; 
    height: 400px; 
    border-radius: 20%;
    filter: drop-shadow(7px 5px 7px #ee82ee79);
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/*ESTILO DO SOBRE MIM*/

section.sobre{
    padding: 100px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-img{
    border-radius: 50%;
    filter: drop-shadow(7px 5px 7px #ee82ee79);
}

.sobre .txt-img:hover{
    animation: pulse;
    animation-duration: 2s;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-family: var(--fonte-primaria);
    font-size: 80px;
    line-height: 58px;
    animation: flipInX;
    animation-duration: 2s;
}

.sobre .txt-sobre h2 span{
    color: var(--cor-terciaria);
}

.sobre .txt-sobre p{
    margin: 15px 0;
    text-align: justify;
    font-family: var(--fonte-terciaria);
    font-size: 20px;
    animation: flipInX;
    animation-duration: 2s;
}

.btn-social button{
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    animation: flipInX;
    animation-duration: 2s;
}

.btn-social button:hover{
    color: var(--cor-primaria);
    transform: scale(1.05);
    box-shadow: 0px 0px 5px var(--cor-terciaria);
}


/*ESTILO DAS HABILIDADES*/
.container {
    position: relative;
    flex-direction: column;
    text-align: center; 
    padding: 160px 4%; 
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px;
}

.container .custom-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 270px;
    max-width: 100%;
    height: 300px;
    background: var(--cor-terciaria);
    border-radius: 10%;
    transition: 0.5s;
    box-shadow: 0 35px 80px rgba(39, 39, 39, 0.15);
    animation: flipInX;
    animation-duration: 2s;
    margin-top: 40px;
}

.container .custom-card:hover{
    height: 200px;
}

.container .custom-card .img-box{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 100%;
    background: var(--cor-secundaria);
    border-radius: 20%;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10%;
}

.container .custom-card:hover .img-box{
    top: -100px;
    scale: 0.75px;
    box-shadow: 0 15px 45px rgba(150, 149, 149, 0.2);
}

.container .custom-card .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container .custom-card .custom-conteudo{
    position:absolute;
    top: 252px;
    width: 200%;
    height: 40%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    font-family: var(--fonte-secundaria);
}

.container .custom-card .custom-conteudo:hover{
    opacity: 1;
}


.container .custom-card:hover .custom-conteudo{
    top: 100px;
    height: 250px;
}

.container .custom-card .custom-conteudo p{
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-secundaria);
}


/*ESTILO DOS MEUS PROJETOS*/

section.portifolio{
    padding: 90px 4%;
}

section.portifolio .flex{
    justify-content: space-around;
}

.img-port{
    width: 300px;
    height: 390px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424c4;
    box-shadow: 0 0 20px 3px #ffffff27;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--fonte-terciaria);
    color: var(--cor-secundaria);
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/*ESTILO DO FALE COMIGO*/

section.formulario{
    padding: 165px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-family: var(--fonte-terciaria);
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 120px;
    background-color: var(--cor-terciaria);
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 40px 10px #ffffff27;
}

form .btn-enviar input[type=submit]:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 40px 4%;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #EE82EE;
    width: 75%;
}

footer .line-footer p i{
    color: var(--cor-terciaria);
    font-size: 22px;
}

footer .line-footer p a{
    color: var(--cor-secundaria);
    font-family: var(--fonte-terciaria);
    margin-left: 5px;
}

footer .line-footer2{
    justify-content: space-around;
}

footer .btn-social button{
    width: 40px;
    height: 40px;
    font-size: 18px;
}


